body {
    color: rgb(0, 60, 255);
    background: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    color: rgb(0, 60, 255);
}

 section  {
    background-color: rgb(255, 255, 255);
    padding-bottom: 88px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}