body {
    color: rgb(255, 255, 255);
    background: rgb(0, 119, 255);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

section {
    background-color: rgb(255, 254, 254);
    padding-bottom: 90px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 50px;

}

p {
    font-size: 20px;

}

img {
   height: 200px;
}